@charset 'utf-8';

/*!
  Side Out Foundation Giving
*/


@import
  'variables',
  'mixins';

@import
  'vendor/bootstrap/bootstrap';

@import
  'base',
  'fonts';


html {
  //font-size: 14px;
  position: relative;
  @media only screen and (min-width: 375px) {
    //font-size: 16px;
  }
}

body {
  @include font_body;
  //@include font-size(1.8);
  // font-size: 1.125rem;
  // line-height: 1.66666667;
  color: $gray;
  background: transparent !important;
  position: relative;
}

.bs-component {
  margin-bottom: 1rem;
}

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1,h2,h3,h4,h5 {
  color: $black;
  @include font_bold;
  padding: 0;

  &.regular {
    @include font_body;
    font-weight: normal;
    strong {
      @include font_bold;
    }
  }
}

h1 {
  @include font-size(3.5);
  line-height: 1.142;
  margin: 20px 0 20px 0;
  padding: 0;
}

h2 {
  @include font-size(2.6);
  line-height: 1.15;
  padding: 0;
  margin: 20px 0 10px;
}

h3 {
  @include font-size(2.2);
  line-height: 1.363636;
  padding: 0;
  margin: 20px 0 10px;
}

h4 {
  @include font-size(2);
  line-height: 1.15;
  margin: 0 0 10px;
}

h5 {
  @include font-size(1.8);
  @include font_semi;
  line-height: 1.2;
  margin: 0 0 10px;
  padding: 0;
}

.list-group-item.active,
.text-white {
  h1,h2,h3,h4,h5 {
    color: white !important;
  }
}

.card-header {
  margin-top: 0 !important;
}

b, strong {
  color: $black;
  @include font_bold;
}

em, i {
  @include font_italic;
}

p {
  margin: 0 0 30px;
}

hr, p {
  margin-bottom: 20px;
}

hr {
  margin: 30px 0;
  @media only screen and (min-width: 768px) {
    margin: 40px 0;
  }
  height: 1px;
  position: relative;
  top: -1px;
}

.text-center {
  text-align: center;
  margin: auto;
  a {
    color: $black;
  }
}

.text-right {
  text-align: right;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: white;
  fill: white;
}

// -----------------------------------------------------------------------------
// Overrides
// -----------------------------------------------------------------------------

.border-primary {
  border-color: $blue !important;
}

.alert {
  border-radius: 0;
}

.card {
  border-radius: 0;
  &.bg-primary {
    background: $pink !important;
  }
  &.bg-secondary {
    background: $blue !important;
  }
  &.border-primary {
    border-color: $pink !important;
  }
  &.border-secondary {
    border-color: $blue !important;
  }
}

.badge:not(.badge-pill) {
  border-radius: 0;
  &.badge-primary {
    background: $pink !important;
  }
  &.badge-secondary {
    background: $blue !important;
  }
}

.list-group {
  li, a {
    border-radius: 0 !important;
  }
}

.nav-pills .nav-link {
  border-radius: 0 !important;
}


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

.form-wrapper {
  background: white;
  border: 1px solid $border-gray;
  margin: 30px auto;
  @include make-col-ready();
  @include make-col(11.6);
  padding: 30px;
  @media only screen and (min-width: 992px) {
    @include make-col(8);
    @include make-col-offset(2);
  }
  @media only screen and (min-width: 1200px) {
    @include make-col(6);
    @include make-col-offset(3);
  }

  &.sign-up {}

  h1, h2 {
    margin-top: 0;
  }

  h1 {
    text-align: center;
  }


}

.form-actions {
  .btn, input[type=submit] {
    margin: 10px 0;
    padding: 0.75rem;
  }

  .btn-full {
    width: 100%;
  }
}


.btn {
  border-radius: 0 !important;
  @include font_bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 1px;
  padding: .5625rem 1.25rem .5rem; // 9px 15px 8px = 40px height
  @media only screen and (min-width: 992px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.modal-cta .btn,
.actions .btn,
.form-actions .btn,
.btn-primary {
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: block;
  @include font_bold;

  text-transform: uppercase;
  background-color: $pink;
  border: 1px solid $pink;
  box-shadow: 0;
  transition: all .2s ease;

  @media only screen and (min-width: 768px) {
    display: inline-block;
  }

  &:focus,
  &:hover,
  &.active {
    color: white;
    background: #b7006f !important;
    border-color: #b7006f !important;
    // background-color: transparent;
    // box-shadow: inset 0 0 0 2px $pink;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 .2rem rgba($pink, .2);
  }
}


.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: lighten($pink, 15%);
  border-color: lighten($pink, 15%);
}

.btn-lg,
.btn-group-lg > .btn {
  font-size: 1rem !important;
  padding: .8rem 50px .7rem;
  @include media-breakpoint-down(md){
    letter-spacing: 0;
    padding: .6rem 1rem .4rem;
  }
}

.btn-outline-primary {
  color: $blue;
  background-color: transparent;
  background-image: none;
  border-color: $blue;
  &:focus,
  &:hover,
  &.active {
    color: white;
    background: $blue;
    border-color: $blue;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 .2rem rgba($blue, .2);
  }
}

.btn-toolbar {
  .btn {
    padding-right: .75rem;
    padding-left: .75rem;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: $pink;
}

.page-item.active .page-link {
  background: $pink;
  border-color: $pink;
}

.btn.dropdown-toggle {
  padding: 7px 10px;
  line-height: 1.5;
  @include font-size(1.6);
  text-transform: capitalize;
  @include font_body;
  letter-spacing: 0;
  &:focus {
    box-shadow: 0 0 0 0 transparent !important;
  }
}

.btn-blue {
  background: $blue;
  color: white;
  &:hover {
    color: white;
    background: $gray;
  }
}

.btn.btn-blue-inverse {
  background: white;
  border: 1px solid $blue;
  box-shadow: inset 0 0 0 1px $blue;
  color: $blue;
  &:hover {
    color: $pink;
    box-shadow: inset 0 0 0 1px $pink;
    border-color: $pink;
    background: white;
  }
}

.btn-facebook,
.btn-twitter,
.btn-google {
  display: flex;
  align-items: center;
  background: $blue;
  color: white;
  @include font-size(1.4);
  font-weight: 600;
  margin: 0 0 10px;
  padding: 10px 20px 8px;
  @media only screen and (min-width: 768px) {
    display: inline-block;
    margin: 0;
    padding: 10px 20px 8px;
  }
  position: relative;
  border: 0;
  transition: background .2s ease;
  &:hover,
  &:focus {
    color: white;
  }
  span {
    display: inline-block;
    margin-right: 6px;
    svg {
      margin: auto;
      width: 16px;
      height: 16px;
      fill: white;
      vertical-align: -3px;
    }
  }
}

.btn-facebook {
  background: #3B5998;
  &:hover {
    background: darken(#3B5998, 15%);
  }
}

.btn-twitter {
  background: #1DA1F2;
  &:hover {
    background: darken(#1DA1F2, 15%);
  }
}

.btn-google {
  background: #DF4A32;
  &:hover {
    background: darken(#DF4A32, 15%);
  }
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  padding-left: 0;
  padding-right: 0;
}

label {
  display: block;
  @include font_bold;
  color: $black;
  line-height: 24px;
  margin-bottom: 4px;
  &.inline {
    display: inline-block;
    margin-right: 10px;
  }
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  height: 40px;
  padding: 2.5px 7.5px !important;
  border: $input-border;
  //box-shadow: inset 0 1px 1px darken($light-gray, 10%);
  @include font_body;
  background-color: white;
  transition: box-shadow .2s ease, border .2s ease;
  box-sizing: border-box;
  appearance: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 16px;
  @media only screen and (min-width: 992px) {
    max-width: 600px;
  }
  &:focus {
    outline: none;
    background-color: white;
    box-shadow: 0 0 3px 2px $light-gray !important;
    border-color: darken($border-gray, 15%) !important;
  }
  &::-webkit-input-placeholder {
    color: silver;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: silver;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: silver;
  }
  &:-ms-input-placeholder {
    color: silver;
  }
  &.input--large {
    padding: 8px 2px;
    height: auto;
  }
}

div.dropdown-menu {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  &:focus {
    box-shadow: 0 0 0 0 transparent !important;
  }
}

input[type="month"],
input[type="time"],
input[type="week"] {
  font-family: monospace;
}

select[multiple],
select[size] {
  height: auto;
}

select::-ms-expand {
  display: none;
}

select {
  border-radius: 0;
  box-shadow: none;
  height: $input-height;
  -webkit-appearance: initial;
}

textarea {
  width: 100%;
  height: auto;
  max-width: 100%;
  resize: vertical;
  min-height: 80px;
  border-radius: 0;
}

input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled],
select[disabled],
textarea[disabled] {
  background: silver;
  color: lightgray;
}

// Disable cursor on any input thats disabled.
input[disabled] ~ label {
  cursor: default;
}

input[type="text"] {
  border: $input-border;
  &:focus {
    border: $input-border;
  }
}

input[type="text"].form__error {
  border: solid 1px $red;
  &:focus {
    border: solid 1px $input-border;
  }
}

.form-control {
  width: 100%;
}

.form-check {
  label,
  .form-check-label {
    @include font_body;
  }
}

.form-check {
  margin-bottom: 10px;
}

// .form-check + .form-check {
//   margin-top: -10px;
// }

.form-check-input {
  margin-top: 2px;
}

.input-group-text {
  border-radius: 0;
  @include font_bold;
}

textarea {
  border: $input-border;
  padding: 10px;
  &:focus {
    border: solid 1px $input-border;
  }
}

  input[type="checkbox"],
  input[type="radio"] {
    border: $input-border;
    & + label {
      @include font-size(1.4);
    }
  }

.form-select select {
  -webkit-appearance: none;
}

select {
  max-width: 100%;
  font-size: 16px;
  border: $input-border;
  &:focus {
    font-size: 16px;
  }
}

input.email {
  height: 50px;
}

/*.form-check {
  position: relative;
  display: block;
  input {
    position: absolute;
    margin-top: 1px;
    margin-left: -26px;
    @media only screen and (min-width: 576px) {
      margin-left: -2px;
      margin-top: 3px;
    }
  }
  label {
    color: $gray;
    @include font-size(1.4);
    @include font_body;
    padding-left: 3px;
    @media only screen and (min-width: 576px) {
      padding-left: 20px;
    }
    margin-bottom: 0;
    cursor: pointer;
  }
}*/

// .form-check-inline {
//   display: inline-block;
// }

.form-check-inline + .form-check-inline {
  margin-left: 6px;
}

.switch-field {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  label {
    border: 1px solid $border-gray;
    color: $medium-gray;
    @include font_bold;
    @include make-col(3.6);
    @media only screen and (min-width: 768px) {
      @include make-col(2.6);
    }
    @include font-size(1.8);
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 20px;
    transition: background .2s ease;
    &:hover {
      background-color: $light-gray;
      cursor: pointer;
    }
  }
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    + label {
      @include font-size(1.8);
    }
    &:checked + label {
      @include font-size(1.8);
      background-color: $blue;
      border: 1px solid $blue;
      color: white;
    }
  }
}

// .input-group.other {
//   .form-control {
//     //max-width: 160px;
//     height: 50px;
//     &:focus {
//       outline: none;
//       box-shadow: 0 0 3px 2px transparent;
//       border-color: darken($border-gray, 10%);
//     }
//   }
// }

// .margin-bottom-10 {
//   margin-bottom: 10px;
// }

// .input-group-addon {
//   @include font-size(1.8);
//   @include font_bold;
//   border-radius: 0;
//   background: white;
//   color: $medium-gray;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .bs-tooltip-bottom,
// .bs-tooltip-auto[x-placement^="bottom"] {
//   .arrow {
//     &:before {
//       border-bottom-color: $blue;
//     }
//   }
//   .tooltip-inner {
//     background-color: $blue;
//     max-width: 280px;
//     padding: 0.5rem 0.75rem;
//     border-radius: 0;
//   }
// }

// .search-link {
//   [data-tooltip] {
//     &:before {
//       margin-left: -90px;
//       width: 180px;
//     }
//   }
// }

// div.alert {
//   border-radius: 0;
//   strong {
//     color: inherit !important;
//   }
// }


// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.header {
  background: white;
  border-bottom: 1px solid $border-gray;
  padding: 16px 0;
  position: relative;
  z-index: 1;

  @media only screen and (min-width: 992px) {
    padding: 25px 0 24px;
  }
}

.brand {
  @include make-col-ready();
  @include make-col(4);

  @media only screen and (min-width: 768px) {
    @include make-col(2);
  }
}

.logo {
  height: 30px;
  width: 113px;

  @media only screen and (min-width: 768px) {
    width: 199px;
    height: 50px;
    //smaller alternative
    //width: 175px;
    //height: 44px;
  }
}

.search {
  @include make-col-ready();
  @include make-col(12);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -7px;

  @media only screen and (min-width: 768px) {
    position: initial;
    @include make-col(10);
    margin-top: auto;
    margin-bottom: auto;
  }
}

.search-form {
  border: 1px solid $border-gray;
  border-radius: 20px;
  padding: 0 14px;
  overflow: hidden;

  form {
    display: flex;
    align-items: center;
  }

  input[type="search"] {
    height: 38px;
    border: 0 !important;
    width: calc(100% - 24px);
    &:focus {
      box-shadow: 0 0 0 0 transparent;
    }
  }

  input[type="image"],
  #go {
    padding: 3px;
    opacity: 1;
    transition: opacity .2s ease;
    &:hover {
      opacity: .4;
    }
  }
}

.search-link {
  display: flex;
  align-items: center;
  a {
    background: url(/img/search.svg) no-repeat center center;
    background-size: 24px 24px;
    display: inline-block;
    font: 0/0 a;
    height: 24px;
    width: 24px;
  }
}




/* Demo 2 */
/*#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#demo-2 input[type=search]:hover {
  background-color: #fff;
}
#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}*/


// -----------------------------------------------------------------------------
// Main Content
// -----------------------------------------------------------------------------

.main {
  background: $light-gray;
  padding: 40px 0;
  @media only screen and (min-width: 992px) {
    min-height: 40vh;
  }
}

.social-logins {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    font-weight: 500;
    width: 49%;
    @media only screen and (max-width: 766px) {
      width: 100%;
    }
  }
}

main {
}

// Campaign

.hero {
  background: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  min-height: 200px;
  // alternatively you could change .main padding.
  margin-top: -40px;

  @media only screen and (min-width: 992px) {
    height: 400px;
    max-height: 60vh;
  }

  @media only screen and (min-width: 1200) {
    height: 480px;
    max-height: 60vh;
    margin-top: -40px;
  }

  .container {
    display: flex;
    align-items: flex-end;
  }

}

.hero-text {
  align-items: center;
  display: flex;
  padding-bottom: 20px;
  @media only screen and (min-width: 576px) {
    align-items: flex-end;
  }
  @media only screen and (min-width: 992px) {
    padding-bottom: 40px;
  }
}

.campaign-avatar {
  padding-right: 15px;
  padding-left: 10px;
  @media only screen and (min-width: 992px) {
    padding-right: 30px;
    padding-left: 0;
  }
  figure {
    width: 100px;
    height: 100px;
    @media only screen and (min-width: 992px) {
      width: 140px;
      height: 140px;
    }
  }

}

.campaign-title {
  @include font_semi;
  @include font-size(1.3);
  @media only screen and (min-width: 992px) {
    @include font-size(1.8);
  }
  h1 {
    color: white;
    @include font-size(2.6);
    line-height: 1.1;
    margin: 5px 0;
    @media only screen and (min-width: 576px) {
      @include font_bold;
      @include font-size(3.6);
      line-height: 1.11111;
      margin: 0;
      padding: 0;
      max-width: 500px;
    }
  }
}

.campaign-subtitle {
  @include font_semi;
  @include font-size(1.3);
  line-height: 1.2;

  @media only screen and (min-width: 576px) {
    @include font-size(1.8);
  }

  a {
    display: flex;
    align-items: center;
    transition: none;
    border-bottom: 1px solid $white;
    margin-top: 2px;
    color: white;
    transition: .2s ease;

    @media only screen and (max-width: 768px) {
      max-width: 80%;
      text-decoration: underline;
      border-bottom: none;

      &:hover {
        text-decoration: underline;
        border-bottom: none;
      }
    }

    span {
      font-weight: bold;
      margin-top: -2px;
      color: white;
      margin-left: 0.7rem;
    }

    &:hover {
      //text-decoration: underline;
      border-bottom: 1px solid #cddce3;
      color: #cddce3;
      text-decoration: none;
      transition: .2s ease;

      span {
        color: #cddce3;
      }
    }
  }
}


.campaign-details {
  background: white;
  // padding for .main
  margin-bottom: -10px;
  padding: 10px;
  @media only screen and (min-width: 576px) {
    //padding: 40px 0;
    margin-bottom: -40px;
  }
  @media only screen and (min-width: 992px) {
    padding: 60px 0;
    margin-bottom: -60px;
  }
}

.campaign-raised {
  margin-bottom: 30px;
  h2 {
    @include font-size(3);
    line-height: 1.333333;
    @media only screen and (min-width: 768px) {
      @include font-size(4.4);
      line-height: 1.13;
    }
    margin: 0;
    span {
      @include font_semi;
      @include font-size(2);
      @media only screen and (min-width: 768px) {
        @include font-size(3);
        letter-spacing: 0;
        line-height: 1;
      }
    }
  }
}

.campaign-main {
  @include make-col-ready();
  @media only screen and (min-width: 992px) {
    @include make-col(7);
  }
}

.progress {
  background: darken($border-gray, 3%);
  border-radius: 0;
  margin: 10px 0;
  height: auto;
  overflow: hidden;
  @media only screen and (min-width: 992px) {
    max-width: 720px;
  }
  .progress-bar {
    background-color: $green;
    height: 20px;
    width: 0;
    @media only screen and (min-width: 768px) {
      height: 30px;

    }
    overflow: visible;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      border-color: $green transparent transparent transparent;
      border-style: solid;
      border-width: 30px 20px 0 0;
      height: 0;
      width: 0;
      top: 0;
      right: -20px;
    }
    &.bg-info,
    &.bg-warning,
    &.bg-danger,
    &.progress-bar-striped {
      &:after {
        border-color: transparent;
      }
    }
  }
}

.progress-bar {
  width: 0%;
  transition: all 0.5s ease-in;
  transition-delay: 0.2s;
}

.progress-stats {
  @include font_semi;
  @include font-size(1.6);
  line-height: 1.25;
  @media only screen and (min-width: 992px) {
    max-width: 720px;
    @include font-size(2.4);
  }
}

.campaign-buttons {
  margin-bottom: 10px;
  .btn {
    display: block;
    margin-bottom: 10px;
    @extend .btn-lg;
    &:first-of-type {
      @extend .btn-primary;
    }
  }
  @media only screen and (min-width: 992px) {
    margin-bottom: 0;
    .btn {
      display: inline-block;
      margin-right: 4px;
    }
  }
  @media only screen and (min-width: 1200) {
    .btn-donate {
      min-width: 220px;
    }
  }
}

.campaign-share {
  display: flex;
  justify-content: center;
  width: 100%;

  .share-buttons {
    padding-bottom: 20px;
    border-bottom: 1px solid #d7e2e8;
  }

  @media only screen and (min-width: 992px) {
    margin-bottom: 20px;
    flex: 0 0 155px;
    position: relative;
    width: 100%;
    min-height: 1px;

    .share-buttons {
      position: sticky;
      top: 80px;
      border-bottom: none;
    }
  }
}

.campaign-text {
  //@include make-col-ready();
  @media only screen and (min-width: 768px) {
    p {
      max-width: 640px;
    }
  }
}

.campaign-events {
  background: $light-gray;
  margin-bottom: 40px;
  padding: 30px;
  @media only screen and (min-width: 768px) {
    padding: 40px;
  }
}

.event-time {
  strong {
    display: block;
    @include font_semi;
    @include font-size(2);
    line-height: 20px;
  }
}

.campaign-learn-more {
  @include make-col-ready();
  @media only screen and (min-width: 992px) {
    flex: 1;
  }
}

.aside {
  position: relative;
  border: 1px solid $border-gray;
  margin-bottom: 20px;
  padding: 20px 30px 10px;

  @media only screen and (min-width: 768px) {
    margin-left: 15px;
  }

  .img {
    margin: -20px -30px 20px;
  }

  h3 {
    @include font-size(1.6);
    line-height: 20px;
    margin: 10px 0;
  }

  p {
    @include font-size(1.4);
    line-height: 20px;
    margin-bottom: 20px;
  }

  .img {
    background: $gray;
    height: 160px;
    @media only screen and (min-width: 768px) {
      height: 130px;
    }
    @media only screen and (min-width: 992px) {
      height: 160px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    .aside-play-button {
      opacity: 1;
      background: $light-gray;
      .icon-play {
        fill: black;
      }
    }
  }
}

.click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aside-play-button {
  background: black;
  padding: 10px 20px;
  opacity: .8;
  transition: all .2s ease;
}

.icon-play {
  fill: white;
  height: 36px;
  width: 36px;
}

.aside-mission {
  .img {
    background: url(/img/demo.jpg) no-repeat center center;
    background-size: cover;
  }
}

.aside-trial {
  .img {
    background: url(/img/research.jpg) no-repeat center center;
    background-size: cover;
  }
}

.modal-backdrop.show {
  background: #000;
  opacity: .63;
}

.modal-dialog {
  @media only screen and (min-width: 576px) {
    max-width: 720px !important;
  }
}

.modal-cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    padding: 30px;
  }
  .btn {
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  strong {
    @include font-size(1.6);
    @include font_semi;
    line-height: 1.25;
    text-align: center;
    padding: 10px;
    @media only screen and (min-width: 768px) {
      text-align: left;
      padding-right: 30px;
      @include font-size(1.8);
    }
  }
}


#donate {
  .modal-dialog {
    margin: 0;
    @media only screen and (min-width: 768px) {
      margin: 1.75rem auto;
      max-width: 500px !important;
    }
  }
  .modal-content {
    border-radius: 0 !important;
    @media only screen and (max-width: 767px) {
      border: 1px solid white;
    }
  }
}

  .modal-content {
    border-radius: 0 !important;
    }


#leaving {
  .modal-body {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    @media only screen and (min-width: 576px) {
      padding-left: 80px;
      padding-right: 80px;
    }
    h2 {
      @include font_semi;
      margin-bottom: 10px;
    }
    h3 {
      @include font_semi;
      @include font-size(1.6);
      color: lighten($gray, 5%);
      line-height: 1.25;
      margin: 0 auto 10px;
      max-width: 360px;
    }

    p {
      @include font-size(1.4);
      color: lighten($gray, 8%);
      max-width: 410px;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      margin: 0 auto;
      height: 80px;
      width: 80px;
      @media only screen and (min-width: 576px) {
        height: 150px;
        width: 150px;
      }
    }
    .share-buttons {
      justify-content: center;
      .social {
        margin: 0 5px;
      }
    }
  }
}


.mobile-follow {
  background: white;
  text-align: center;
  transition: opacity .5s ease-in-out;
  padding: 8px 25px;
  opacity: 0;
  box-shadow: 0 1px 6px rgba(0,0,0,.4);
  text-align: center;
  a, a:focus {
    box-shadow: 0 !important;
    outline: none !important;
  }
  .btn:not(.btn-blue-inverse) {
    @extend .btn-primary;
  }
}

.fixed {
  position: fixed;
  left: 0;
  opacity: 1;
  width: 100vw;
  z-index: 1;
  @media only screen and (min-width: 992px) {
    top: -66px;
    transition: .3s top ease;
  }
  @media only screen and (max-width: 991px) {
    bottom: 0;
    top: auto;
  }
}

.slide-down {
  @media only screen and (min-width: 991px) {
    top: 0;
  }
}

.activity-block {
  border: 1px solid $border-gray;
  display: flex;
  align-items: center;
  margin: 0 0 20px;
  padding: 14px 20px;
  @media only screen and (min-width: 768px) {
    padding: 15px 24px;
  }

  .activity-icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: $gray;
    border-radius: 100%;
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    &.donation {
      background: $blue;
    }

    &.in-honor {
      background: $purple;
    }

    &.created {
      background: $pink;
    }
  }

  .icon {
    height: 22px;
    width: 22px;
  }
}

.activity-text {
  color: $black;
  @include font-size(1.8);
  line-height: 20px;
  span {
    color: $gray;
    display: block;
    @include font-size(1.6);
  }
  a {
    color: $black;
    text-decoration: underline;
  }
  small {
    display: block;
    color: lighten($gray, 20%);
  }
}

.share-buttons {
  //display: none;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  @media only screen and (min-width: 992px) {
    border-bottom: none;
    padding-top: 0;
    display: inline-flex;
    align-self: flex-start;
    flex-direction: column;
    top: 90px;
    text-align: center;
  }

  strong {
    display: none;
    @media only screen and (min-width: 992px) {
      display: initial;
    }
  }
}

.share-widget .sticky-top {
  display: flex;
  justify-content: center;
  z-index: 0;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1030;

  strong {
    display: none;
    @include font_bold;
    @include font-size(1.7);
    display: none;
    letter-spacing: 1px;
    margin-right: 14px;
    margin-top: 2px;
    text-transform: uppercase;
    @media only screen and (min-width: 992px) {
      text-align: center;
      margin-right: 0;
    }
  }
}

.social {
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  text-align: center;
  opacity: 1;
  margin-right: 5px;
  transition: opacity .2s ease;

  @media only screen and (min-width: 992px) {
    display: flex;
    margin: 0 auto 5px;
  }

  &-facebook {
    background: #445C8C;
  }

  &-twitter {
    background: #53BBF4;
    margin-top: -1px;
  }

  &-email {
    background: $pink;
    margin-top: -1px;
  }

  .icon {
    fill: white !important;
    &-envelope {
      width: 21px;
    }
  }

  &:hover {
    opacity: .7;
  }
}

.donation-title {
  text-align: center;
}

.donation-form-wrapper {
  background: white;
}


#spark-app .container:first-child {
  padding: 0 !important;
}

.tabs-nav {
  display: flex;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $border-gray;

  li {
    background: transparent;
    border-left: 1px solid $border-gray;
    color: lighten($medium-gray, 20%);
    display: inline-block;
    padding: 13px 0 12px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    @include font_bold;
    @include font-size(1.2);
    letter-spacing: 0;
    line-height: 24px;
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
      letter-spacing: .25px;
      @include font-size(1.4);
    }

    span {
      background: lighten($medium-gray, 20%);
      border-radius: 100%;
      width: 18px;
      height: 18px;
      line-height: 18px;
      @media only screen and (min-width: 768px) {
        height: 24px;
        width: 24px;
        line-height: 24px;
      }
      color: white;
      @include font_bold;
      display: inline-block;
      letter-spacing: 0;
      margin-right: 4px;
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }

    &:first-of-type {
      border-left: 0;
    }

    &.current {
      color: $blue;
      box-shadow: inset 0 -2px 0 0 $blue;
      span {
        background: $blue;
      }
    }

    &.completed {
      color: $green;
      span {
        background: $green;
      }
      svg {
        fill: white;
        width: 14px;
      }
    }

    &.current.completed {
      box-shadow: inset 0 -2px 0 0 $green;
    }

  }
}

.donation-form {
  overflow: hidden;
  padding: 10px 20px;
  @media only screen and (min-width: 360px) {
    padding: 10px 30px;
  }

  @media only screen and (min-width: 786px) {
    padding: 10px 40px;
  }

  .share-buttons {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .col-md, .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm.city {
    flex: 0 0 45%;
  }
}

.donation-form-inner-wrapper {
  overflow: hidden;
  position: relative;
}

.donation-form-inner {
  //height: 395px;
  overflow: hidden;
  transition: all .3s ease;
  &.reveal {
    overflow: visible;
    transform: translateY(calc(-100% + 25px));
  }
  .custom-control {
    padding-left: 1.7rem;
  }
}

.donation-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 10px 0;

  label {
    @include make-col(3.8);
    margin: 10px 0 0;
  }

  a {
    border: 1px solid $border-gray;
    color: $medium-gray;
    @include font_bold;
    @include font-size(1.8);
    line-height: 20px;
    width: 31.333333%;
    text-align: center;
    margin-top: 10px;
    padding: 14px 0;
    transition: background .2s ease;
    &:hover {
      background: $light-gray;
    }
    &.selected {
      background: $blue;
      color: white;
      border-color: $blue;
    }
  }

  &.donation-frequency {
    justify-content: left;
    label {
      flex: auto;
      width: auto;
      max-width: 140px;
      margin-right: 0 !important;
    }
  }
}

.donation-added {
  color: $medium-gray;
  display: inline-block;
  margin: 0 12px;
  @include font-size(1.3);
  line-height: 20px;
  strong {
    color: $black;
    display: block;
    @include font-size(2);
  }
}

.form-actions {
  display: flex;
  align-items: center;
  .btn,
  button {
    margin: 0 3px 0 0;
    min-width: 100px;
  }
}

.donation-form-wrapper {
  .form-actions {
    margin: 20px 0;
  }
}

#state {
  width: 100%;
}

.expiration {
  display: flex;
  input {
    width: 48%;
    margin-right: 10px;
  }
}

.employer-match {
  border: 1px solid $border-gray;
  margin-bottom: 20px;
  padding: 10px 20px 20px;
  label {
    @include font-size(1.4);
    //line-height: 30px;
  }
}

.cc-number {
  background-image: url(/img/cc-logos.svg);
  background-repeat: no-repeat;
  background-size: 100px 19px;
  background-position: calc(100% - 10px) center;
  @media only screen and (min-width: 576px) {
    background-size: 133px 25px;
  }
}

.privacy-note {
  @include font-size(1.4);
  line-height: 20px;
}

h1.join-donate {
  @include font-size(2.6);
  @media only screen and (min-width: 768px) {
    @include font-size(3);
    max-width: 500px;
    margin: 40px auto 0;
  }
}

/*Donate to Campaign; Start Campaign Pages*/
.donate-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  margin: 20px auto;
  @media only screen and (min-width: 768px) {
    padding: 10px 0;
  }
}

.donate-card {
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include make-col-ready();
  @media only screen and (min-width: 768px) {
    @include make-col(6);
  }
  @media only screen and (min-width: 992px) {
    @include make-col(4);
  }

  &-inner {
    background-color: white;
    padding: 10px 24px 110px;
    border: 1px solid $border-gray;
    border-top: 0;
    height: 100%;
    position: relative;
    @media only screen and (min-width: 992px) {
      padding: 10px 30px 110px;
    }

    h3 {
      @include font-size(2);
      line-height: 1.2;
      margin: 10px 0 10px;
      height: 3.5rem;
      a {
        color: $black;
      }
    }

    .actions {
      position: absolute;
      bottom: 10px;
      width: calc(100% - 48px);
      text-align: center;
      @media only screen and (min-width: 992px) {
        width: calc(100% - 60px);
      }
      small a {
        display: inline-block;
        margin-top: 4px;
        padding: 8px;
        color: $gray;
      }
    }

    .btn {
      margin: 10px 0 0;
      display: block;
      @include font-size(1.4);
      line-height: 1.43;
    }

    .progress {
      margin: 0;
    }

    .progress {
      background: $border-gray;
      height: 20px;
    }

    .progress-stats {
      @include font-size(1.4);
      @include font_bold;
      font-weight: normal;
      line-height: 20px;
      margin-top: 10px;
    }
  }
}

.form-group-special {
  display:block;
  justify-content: space-between;
  div:first-child {
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 992px) {
    display: flex;
    div:first-child {
      margin-bottom: 0;
    }
  }
  div {
    @include make-col(12);
    @media only screen and (min-width: 992px) {
      @include make-col(5.8);
    }
  }
  select {
    width: 100% !important;
    color: $gray !important;
    &::selection {
      background-color:white;
      border-radius:0;
    }
  }
  option {
    background-color:white;
    border-radius:0;
  }
}

.start-campaign-old {
  width: auto;
  background-color: white;
  @include make-col(12);
  @media only screen and (min-width: 768px) {
    @include make-col(6);
    @include make-col-offset(3);
  }
}

.form-steps {
  margin: 20px auto;
  overflow: hidden;
  padding-bottom: 10px;
  .btn {
    margin: 10px 0;
  }
  h2 {
    align-items: center;
    line-height: 30px;
    display: flex;
    margin-bottom: 50px;
    position: relative;
    &:after {
      height: 1px;
      background: $border-gray;
      width: 700px;
      content: "";
      display: block;
      position: absolute;
      bottom: -20px;
      left: -30px;
    }
    span {
      background: white;
      border: 2px solid $pink;
      border-radius: 50%;
      color: $pink;
      @include font_bold;
      @include font-size(1.8);
      height: 30px;
      width: 30px;
      line-height: 28px;
      display: block;
      margin-right: 10px;
      text-align: center;
    }
  }
}


// -----------------------------------------------------------------------------
// Footer Donate
// -----------------------------------------------------------------------------

.footer-donate {
  background: white;
  border-top: 1px solid $border-gray;
  color: $medium-gray;
  padding: 40px 0 80px;

  .footer-left {
    @include make-col-ready();
    @media only screen and (min-width: 768px) {
      @include make-col(6);
    }
  }

  .donate-footer-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: flex-start;
    }

    a {
      color: $medium-gray;
      @include font_bold;
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;
      line-height: 1.4;

      @media only screen and (min-width: 768px) {
        font-size: 16px;
      }

      &:hover {
        color: $gray;
      }
    }
  }

  .footer-right {
    @include make-col-ready();
    justify-content: center;
    @media only screen and (min-width: 768px) {
      @include make-col(6);
      justify-content: flex-end;
      transform: translateY(-8.5px);
    }
    display: flex;
    align-items: center;

    img {
      height: 50px;
      margin: 0 10px;
      &:last-of-type {
        height: 25px;
      }
    }
  }

  .copyright {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    @media only screen and (min-width: 768px) {
      font-size: 16px;
      text-align: left;
    }
  }
}

.center {
  margin: auto;
  width: 70%;
  text-align: center;
}

.center-thankyou {
  margin: auto;
  width: 60%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.or {
  background-color: white;
  padding: 7px;
  padding-top: 15px;
  color: $pink;
  position: relative;
  margin-left: 47%;
  z-index: 5;
}

.share-thankyou {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  margin-top: 1rem !important;
  margin-left: 0;
  border-bottom: none;

  .social {
    margin: 0 5px 5px 0 ;
  }
}

.or-line {
  margin-top: -1rem;
}


.header-thank-you {
  text-align: left;
}


#demo-2 {

  input {
    outline: none;
  }

  input[type=search] {
    appearance: textfield;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }

  input::search-cancel-button {
    display: none;
  }


  input[type=search]{
    width: 100%;
    max-width: 100%;
    background: transparent;
    border: solid 1px transparent;
    padding: 7px 7px;
    width: 55px;
    transition: all .5s;
    position: relative;
    z-index: 7;
    //right: -24px;
  }

  img {
    position: absolute;
    z-index: 5;
    margin-top: 11px;
    width: 24px;
    height: 24px;
  }


  @include make-col(12);
  display: flex;
  justify-content: flex-end;

  input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }

  input::placeholder {
    color: transparent;
  }


  input[type=search]:focus {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: solid 1px #d7e2e8;
    box-shadow: 0 0 5px rgba(109,207,246,.5);

    &::placeholder {
      color: #d7e2e8;
    }
  }

  @media only screen and (min-width: 992px) {
    @include make-col(8);
  }

  @media only screen and (min-width: 768px) {
    @include make-col(10);
    input[type=search] {
      background: transparent;
      border: solid 1px #fff;
      border-bottom: solid 1px #d7e2e8;
      padding: 5px 10px 5px 10px;
      padding-left: 2px;
      width: 100%;
      max-width: 100%;
      transition: all .5s;
      position: relative;
      z-index: 7;
      right: -34px;
      font-size: 1.6rem;
      line-height: 1.6rem;
    }

    img {
      position: relative;
      z-index: 5;
      margin-top: 7px;
      width: 20px;
      height: 20px;
    }

    input[type=search]:hover {
      background-color: transparent;
    }

    input[type=search]:focus {
      width: 100%;
      max-width: 100%;
      border: solid 1px #fff;
      border-bottom: solid 1px $pink;
      color: $black;
      background-color: transparent;
      cursor: auto;
    }

    input::placeholder {
      color: #d7e2e8;
      @include font-body;
      font-size: 1.6rem;
      line-height: 1.8rem;
      font-weight: lighter;
    }
  }
}

.owl-nav {
  display: flex;
  align-items: center;
  float: right;
  margin-top: -2px;
  position: absolute;
  right: -40px;
  top: -76px;

  @media only screen and (max-width: 766px) {
    right: -30px;
    top: -66px;
  }

  @media only screen and (max-width: 542px) {
    right: -30px;
    top: -76px;
  }

  .owl-prev,
  .owl-next {
    border: 2px solid $blue !important;
    border-radius: 20px;
    cursor: pointer;
    //flex-shrink: 0;
    height: 30px;
    width: 30px;
    font: 0/0 a;
    margin: 0 2px;
    opacity: 1;
    text-align: center;
    transition: opacity .2s ease;
    display: block;
    vertical-align: middle;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }

    span {
      margin: auto;
      height: 20px;
      width: 20px;
      position: relative;
      top: -5px;
      font-size: 1.4rem;
      font-weight: 600;
      color: $blue;
    }
  }

  .owl-next span {
    position: relative;
    left: 1px;
  }
}

.sign-up-thankyou {
  height: 110vh;
  max-height: 110vh;
  align-items: center;
  display: flex;

  .sign-up {
    @include make-col(8);
    @include make-col-offset(2);
  }

  p {
    color: $gray;
  }

  .text-center a {
    color: $pink;
  }
}

.main {
  padding-bottom: 0;
}

#donate {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media only screen and (max-width: 766px) {
    padding-top: 3rem;
  }
}

#donate h1 {
  margin-bottom: 3rem;
}

#thankyou-general h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.section-donate {
  display: block;
  flex-wrap: wrap;
  @include make-col(12);
  @include make-col-offset(0);

  .form-donate {
     @include make-col-ready();
    @include make-col(12);

  }

  .donate-desctiption {
    @include make-col-ready();
    @include make-col(12);
    padding-top: 1rem;
  }

  @media only screen and (min-width: 768px) {
    @include make-col(8);
    @include make-col-offset(2);

    .form-donate {
      @include make-col(12);
      height: auto;
    }

    .donate-desctiption {
      @include make-col(12);
    }
  }

  @media only screen and (min-width: 992px) {
    display: flex;
    @include make-col(10);
    @include make-col-offset(1);

    .form-donate {
      @include make-col(6);
    }

    .donate-desctiption {
      @include make-col(6);
      padding-top: 0;
    }
  }
}

.first-step {
  margin-top: 1.5rem;
  @include make-col(8);
  @include make-col-offset(2);
  justify-content: space-evenly;

  .btn {
    @include make-col(12);
    margin-bottom: 1rem;
  }

  @media only screen and (min-width: 992px) {
    .btn {
      @include make-col(5.5);
    }
  }
}

.thankyou-image {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-left: 15%;
  padding-right: 15%;

  @media only screen and (min-width: 992px) {
    padding-top: 8rem;
  }
}

.thankbox {
  background: white;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.thank-you-hero {
  background: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  min-height: 370px;
  height: 440px;
  // alternatively you could change .main padding.
  margin-top: -40px;

  @media only screen and (min-width: 768px) {
    height: 480px;
    max-height: 70vh;
  }

  @media only screen and (min-width: 992px) {
    height: 600px;
    max-height: 90vh;
  }

  @media only screen and (min-width: 1200) {
    height: 680px;
    max-height: 90vh;
    margin-top: -40px;
  }

  a {
    color: white;
  }
}

.thank-you-cta {
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.action-title {
  margin-top: 4rem;
  margin-bottom: 0;
  color: white;
}

.customize-title {
  margin-top: 2rem;
  margin-bottom: 0;
}

.blue-hover {
  margin-bottom: 0;
  margin-top: 2rem;
}

.blue-hover:hover {
  background: #0085b7;

}
